body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}
input, button{
  font-family: 'Montserrat', sans-serif;

}

.main-div {
  width: 300px;
  margin: 0px auto;
  margin-top: 100px;
  padding: 20px;
}

.main-div h3{
  text-align: center;
  padding: 5px;
}

.logobox{
  width: 100%;
}

.logo img{
  width:200px;

}

.logo{
  text-align: center;
  padding-top: 30px;
}
.footerContent{
  min-height: calc(100vh - 70px);
}
.footerInfo{
  position: sticky;
  background-color: #f8f8f8;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  text-align: center;

}

.footerInfo p{
  font-size: 13px;
  padding: 5px;
}

.white{
  background-color: white;
  width: 100%;
  height: 100%;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}

nav{
  text-align: center;
   box-shadow: 1px 10px 15px -1px #F8F8F8;
}

nav li{
  display: inline-block;
  margin: 30px 8% 10px 8%;
}

nav a{
  color: black;
  text-decoration: none;
}

nav a:hover{
color: #77dd77;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
}

nav #active{
color: #77dd77
}

.button {
  padding: 10px;
  background: #77dd77;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.button:hover {
  background: #444;
  color: #77dd77;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#inpFil {
  display: none;
}

.upload-box{
  display: flex;
  min-height: 50vh;
  width: 100%;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  margin-bottom: 10px;
  color: #77dd77;
}

.upload-box input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid 1px 1px;
  margin: 10px;
}

.upload-box h2{
  padding: 15px;
}

main source{
  margin-top: 200px;
}

main h1{
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainbox {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 15px;
  grid-column-gap: 10px;
  margin-top: 150px;

}

.mainbox .box{
  display: grid;
  width: 90%;
  height: 90%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 8px;
  margin-left: 15px;
}

.mainbox img{
  width: 50%;
  max-width: 90px;
  margin: auto;
  margin-top: 10px;
  text-align: center;

}

#alleMusikkne{
  margin-top: 50px;
  text-align: center;
}

#usynlig{
  display: none;
}
